[program:exhibitor]
{% if exhibitor.configtype == "s3" %}
command=java -jar {{exhibitor.dir}}/exhibitor.jar --configtype s3 --s3config {{exhibitor.s3_bucket}}:{{exhibitor.s3_key}} --defaultconfig {{exhibitor.dir}}/exhibitor.cfg
{% else %}
command=java -jar {{exhibitor.dir}}/exhibitor.jar --configtype file --fsconfigdir {{exhibitor.fsconfigdir}} --defaultconfig {{exhibitor.dir}}/exhibitor.cfg
{% endif %}
user={{exhibitor.user}}
autostart=true
autorestart=true
startsecs=10
startretries=999
log_stdout=true
log_stderr=true
logfile_maxbytes=10MB
logfile_backups=10
