BUILD_SUBNET_ID=subnet-...; export BUILD_SUBNET_ID;
BUILD_SOURCE_AMI=ami-...; export BUILD_SOURCE_AMI;
BUILD_SECURITY_GROUP=sg-...; export BUILD_SECURITY_GROUP;
BUILD_REGION=us-west-2; export BUILD_REGION;
BUILD_S3_BUCKET=...; export BUILD_S3_BUCKET;
BUILD_S3_KEY=exhibitor; export BUILD_S3_KEY;

DEPLOY_ROLL=S3-Full; export DEPLOY_ROLL;
DEPLOY_REGION=us-west-2; export DEPLOY_REGION;
DEPLOY_SUBNET_ID=subnet-...; export DEPLOY_SUBNET_ID;
DEPLOY_SECURITY_GROUP=sg-...; export DEPLOY_SECURITY_GROUP;
DEPLOY_KEY_NAME=...; export DEPLOY_KEY_NAME;
