[program:zookeeper]
command={{zookeeper.dir}}/bin/zkServer.sh start-foreground
user={{zookeeper.user}}
autostart=true
autorestart=true
startsecs=10
startretries=999
log_stdout=true
log_stderr=true
logfile_maxbytes=10MB
logfile_backups=10
