tickTime=2000
initLimit=10
syncLimit=5
autopurge.snapRetainCount=3
autopurge.purgeInterval=24
maxClientCnxns=100
 
clientPort={{zookeeper_client_port}}
dataDir={{zookeeper_install_dir}}/data
dataLogDir={{zookeeper_install_dir}}/log
 
server.1=zoo1:{{zookeeper_leader_port}}:{{zookeeper_election_port}}
