[program:zookeeper]
command={{zookeeper_install_dir}}/bin/zkServer.sh start-foreground
user=root
autostart=true
autorestart=true
startsecs=10
startretries=999
log_stdout=true
log_stderr=true
logfile={{ zookeeper_install_dir}}/log/supervisor.log
logfile_maxbytes=10MB
logfile_backups=10
